# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/local.properties
android/key.properties
android/app/google-services.json
*.jks
*.keystore

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/

# Web
web/firebase-config.js

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
